/**
General Starting styles
*/

html {
  box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

body {
  background: black;
  font-size: 16pt;
}

/**
Layout
*/

a {
text-decoration: none;
}

a:hover {
  color: purple;
  text-decoration: underline;
}

footer {
  background: white;
  display:flex;
  flex-direction: column;
  border-bottom: 3px solid white;
  justify-content: center;
  align-items: center;
}

header {
  background-image: url();
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: column;
  background: white;
  justify-content: center;
  align-items: center;
}

/* Style the header */
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

/* Page content */
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-bottom: 3px solid black;
  margin: 10px;
}
