/**
General Starting styles
*/

html {
  box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

body {
  background: black;
  font-size: 14pt;
  font-family: Raleway;
}

.container {
  max-width: 1400px;
}


h1, h2, h3, h4, h5, li {
  font-family: Be Vietnam;
}

h2 {
  color: white;
  border-bottom: 5px solid white;
}
/**
Layout
*/

a {
text-decoration: none;
color:green;
}

#topOfPage p {
  margin: 1rem;
}


a:hover {
  color: purple;
  text-decoration: underline;
}

.projectImages:hover {
  border: 3px solid black;
  opacity: 0.8;
}

.socialContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.projectImages {
  width: 230px;
  height: 230px;
  margin: 3px;
  border: 1px solid black;
  transition:border 3s;
}

.firstContainWelcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcomeContainer p {
  font-size: 14pt;
}

#iconCredit a {
  color: green;
}

#iconCredit a:hover {
  color: blue;
  text-decoration: underline;
}

#profileImage {
  width: 300px;
  height: 300px;
  border-radius: 25%;
  border: 2px solid #555;
  margin: 1rem;
}

/**
 Paraxell scrolling styles
 */

#background {
background-image: url(images/paraxell/hello.jpg);
}

#background2 {
background-image: url(images/paraxell/canyonBig.jpg);
}

#background3 {
background-image:url(images/paraxell/coding.jpg);
}

#background35 {
  background-image: url(images/paraxell/skill.jpg);
}

#background4 {
background-image: url(images/paraxell/contact.jpg);
}

.paraxell {
  margin: auto;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
}

/**
Div container styles
*/

.bigContain {
  display:flex;
  color:white;
  flex-direction: column;
  border: 3px solid white;
  justify-content: center;
  align-items: center;
  background: #555;
  width: auto;
  margin: 1rem;
  height: auto;
  padding: 1rem;
}

.heading-container {
  width: 100%;
  background-color: #555;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.welcomeContainer {
  flex-direction: column;
  justify-content: center;
  align-content: left;
  align-items: flex-start;
  border-bottom: none;
  margin: 2rem;
}

.welcomeContainer:last-child {
  width: 700px;
}

#skillsCtn section ul li {
  padding: 10px;
}

#skillsCtn section ul {
  list-style-type: square;
}
#skillsCtn {
  display: flex;
  flex-direction: column;
  border-bottom: none;
}

.socialLinks {
  margin: 1rem;
  border: 1px solid black;
  color: black;
  background: grey;
  padding: 1rem;
}


.socialLinks:hover  {
    color: white;
    text-decoration: none;
}


footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: #fbfbfb
}

/**
Header Related layout styles
*/
#topOfPage a:hover {
  color:black;
  padding: 2px;
  background-color: white;
  text-decoration: none;
  border: 2px solid #555;
}

#topOfPage a {
  transition: background-color, border 0.2s ease,
  padding 0.2s linear;
  background-color:inherit;
  border: none;
  color: white;
}

#topOfPage {
  background-size: 1900px;
  background-image: url(images/text-images/coding.jpg);
  height: 650px;
  width: 100%;
  display: flex;
  margin:auto;
  z-index: 1;
  position: relative;
  flex-direction: row;
}

.header {
  height: 100%;
  padding: 10px 16px;
  background-color:rgba(0,0,0,0.8);
  color: #f1f1f1;
  top: 0;
}

.header ul {
  padding-top: 100px;
  font-size: 30pt;
}

.content {
  padding: 16px;
}

/**
Making header 'sticky' on scroll
*/
.sticky {
  height: 100px;
  background-image: none;
  background-color:rgba(120,120,120,1);
  position: fixed;
  justify-content: space-evenly;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sticky a:hover {
  color:black;
  background-color: white;
  text-decoration: underline;
}

.sticky a {
  background-color:white;
  border: none;
  color: black;
}

.sticky ul {
  padding-top: 5px;
  font-size: 18pt;
}

.sticky nav {
  background-color: black;
  width: auto;
  margin-top: -20px;
}



.sticky div p {
  border-bottom: none;
}

.stickyUlUpdate {
  display: flex;
  flex-wrap: wrap;
  font-size: 15pt;
  padding:10px;
  color: black;

}

.stickyUlUpdate li {
  padding: 5px;
}


.sticky + .content {
  padding-top: 102px;
}

.sticky h1 {
  padding:0;
  margin:0;
  height: 38px;
}

/**
End of header styles
*/

iframe {
  margin-bottom: 1rem;
  width: 600px;
  border: 2px solid #555;
}

.hobbyPic {
  width: 50px;
  height: 50px;
}

.socialLinks img {
 width: 40px;
 height: 40px;
}

p {
  margin: 10px;
}

.quotes {
  color: #fbfbfb;
}

/**
Section layout styles
*/

section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  background-color: white;
  margin: 10px;
}

ul {
  list-style: none;
}

 td {
  border: 5px solid black;
  padding: 5px;
}

/**
Responsive styles
*/
@media only screen and (min-width: 1480px) {

  iframe {
    width: 1000px;
  }

  .firstContainWelcome {
    flex-direction: row;
    align-content:center;
    align-items: center;
    flex-wrap: wrap;
  }

  #background {
  background-image: url(images/paraxell/welcome.jpg);
  }

  #interestCtn, #skillsCtn {
    flex-direction: row;
  }

  #lang{
    border-right: 2px solid black;
  }

   #other, #workflow{
    border-left: 2px solid black;
  }

  /**
  Media header styles
  */

  .header {
    width: 650px;
  }

  .sticky {
    flex-direction: row;
    width: 100%;
    height: 100px;
  }

  #topOfPage {
    font-size: 17pt;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: center;
  }

  /**
  End of header media styles
  */

  #theWorks p {
      max-width: 500px;
  }

  #welcome p {
      max-width: 700px;
  }
}

@media only screen and (max-width: 1250px) {

  #slogan  {
    display: none;
  }

  #containerHeader {
    display: none;
  }

  .sticky {
    justify-content: center;
  }

}
/**
 Table more responsive
 on small screens.
*/
@media only screen and (max-width: 930px) {

  .responsive-td {
    display: none;
  }

  td {
    border: none;
    border-bottom: 5px solid black;
  }

  tr {
    display: flex;
    flex-direction: column;
  }

}

/**
 For general
 section containers
*/
@media only screen and (max-width: 850px) {

  .inner-container {
    display: inline-block;
    cursor: pointer;
  }

  #background {
    display: none;
  }

  iframe {
    width: 300px;
  }

  .welcomeContainer {
    border-bottom: none;
    align-items: center;
    align-self: center;
    justify-content: center;
  }

  .welcomeContainer:last-child {
    width: auto;
  }

}

@media only screen and (max-width: 640px) {
  .sticky ul {
    flex-wrap: wrap;
    font-size: 15pt;
  }
}


/**
 Fluid
 Font Size
*/
@media screen and (min-width: 320px) {
  body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (3000 - 300)));
  }
}


@media screen and (min-width: 1000px) {
  body {
    font-size: 22px;
  }
}
